body {
    width: 300px;
    font-size: 16px;
    /* or any other value that suits your needs */
    display: flex;
    justify-content: center;
    /* Centers the form horizontally */
    flex-direction: column;
    padding-bottom: 40px;
}

label,
input {
    display: block;
    /* Makes them stack vertically */
    width: 100%;
    /* Fills the entire width of the form */
    margin: 5px 0;
    /* Adds some space around each element */
}

.extension-title {
    color: #659AD2;
}

.option-button-wrapper {
    display: flex;
    justify-content: flex-end;
}

button {
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}
