body {
    font-size: 16px; /* or any other value that suits your needs */
    display: flex;
    justify-content: center; /* Centers the form horizontally */
    flex-direction: column;
    padding-bottom: 10px;
}

label, input {
    display: block; /* Makes them stack vertically */
    width: 100%; /* Fills the entire width of the form */
    margin: 5px 0; /* Adds some space around each element */
}

.extension-title {
    color: #659AD2;
}